* {
    border: none;
    border-radius: 0;
    font-family: Liberation Sans, JetBrainsMono Nerd Font, FontAwesome;
    font-size: 12.2px;
    min-height: 0;
}

window#waybar {
    background-color: #282a36;
    color: #282a36;
    transition-property: background-color;
    transition-duration: .5s;
} 

window#waybar.hidden {
    opacity: 1;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.focused {
    background-color: #bd93f9;
    color: #000000;
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #ffffff;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#bar {
    padding: 0 10px;
    margin: 0 0px;
    color: #ffffff;
}

#window {
    color: #bd93f9;
    font-weight: bold;
    /*border-bottom: 1px solid #ffffff;*/
}
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-weight: bold;
    background-color: #8be9fd;
    color: #000000;
}

#battery {
    background-color: #6272a4;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #50fa7b;
    font-weight: bold;
    /*background-color: #26A65B;*/
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #ff5555;
    color: #000000;
}

#memory {
    background-color: #50fa7b;
    color: #000000;
}

#disk {
    /*background-color: #ff5555;*/
    color: #ff5555;
}

#backlight {
    background-color: #ff79c6;
    color: #000000;
}

#network {
    /*background-color: #6272a4;*/
    /*color: #ff5555;*/
    background-color: #bd93f9;
    font-weight: bold;
    color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #ffb86c;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    font-weight: bold;
    color: #2a5c45;
}

#temperature {
    background-color: #f1fa8c;
    color: #000000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #282a36;
    padding: 0 2px;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-pkgs {
    color: #ffffff;
}

#idle_inhibitor {
    /*background-color: #2d3436;*/
    background-color: rgba(43, 48, 59, 0.9);
    color: #bd93f9;
    padding: 0 0px;
}
#idle_inhibitor.idlinhbtr1 {
    background-color: #bd93f9;
    color: #50fa7b;
    padding: 0 0px;
}
#idle_inhibitor.idlinhbtr2 {
    background-color: #50fa7b;
    color: #ff5555;
    padding: 0 0px;
}
#idle_inhibitor.idlinhbtr3 {
    background-color: #ff5555;
    color: #f1fa8c;
    padding: 0 0px;
}
#idle_inhibitor.idlinhbtr4 {
    background-color: #f1fa8c;
    color: #6272a4;
    padding: 0 0px;
}
#idle_inhibitor.idlinhbtr5 {
    background-color: #6272a4;
    color: #ffb86c;
    padding: 0 0px;
}
#idle_inhibitor.idlinhbtr6 {
    background-color: #ffb86c;
    color: #ff79c6;
    padding: 0 0px;
}
#idle_inhibitor.idlinhbtr7 {
    background-color: #ff79c6;
    color: #8be9fd;
    padding: 0 0px;
}
#idle_inhibitor.activated {
    /*background-color: #ecf0f1;*/
    color: #2d3436;
    background-color: #bd93f9;
    color: #000000;
}
